  <div class="jumbotron jumbotron-fluid jumbotron-extend">
    <div class="container">
      <div class="row">
       <div class="content col-12">
        <h2 class="display-4 text-center text-white">VideoAppへようこそ!!</h2><br>
         <p class="lead text-center text-white">アニメ、映画、ドラマを共有しましょう!!</p><br>
         <div class="content-button text-center">
         <% if user_signed_in? %>
         <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-dark m-4 col-6 text-center" %>
         <% else %>
         <%= link_to "新規登録", new_user_registration_path, class: "btn btn-dark m-4 col-6 text-center"%>
         <br>
         <%= link_to "ログイン", new_user_session_path, class: "btn btn-dark m-4 col-3 mx-auto"%>
         <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-dark m-4 col-3 mx-auto" %>
         <% end %>
         </div>
       </div>
      </div>
    </div>
   </div>
